<div class="row">
  <div class="col-md-2">
      <img
      src="https://www.publicdomainpictures.net/pictures/90000/velka/silhouette-woman-profile.jpg"
      class="img-responsive"
      style="
      height: 75px;
      width: 75px;">
  </div>
  <div class="col-md-10">
    <h1>Youri</h1>
    <p>The best streamer on the circle. <span>12 viewers</span></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <app-video></app-video>
  </div>
  <div class="col-md-4">
   <app-chat></app-chat>
  </div>
</div>  