<div class="loginBox">
  <div class="form-block">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input-group col-xs-12 col-md-12 col-lg-12">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
      </div>
      <div class="input-group col-xs-12 col-md-12 col-lg-12">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>
      <div class="row button-block">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <button type="submit" class="btn btn-primary loginBtn">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
