.loginGroup {
  border: 1px solid lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn {
  display:block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 0px;
  background-color: #FFA300;
  border-color: #FFA300;
}

input {
  border-radius: 0px;
}
