/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  /*background: rgb(0, 0, 0);*/
  /*background: rgba(0, 0, 0, 0.5); !* Black see-through *!*/
  /*color: #f1f1f1;*/
  width: 180px;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
